<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :项目简称, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :abbr_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:abbr_name) %>
  </div>
  <div class="form-group">
    <%= f.label :项目全称, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :项目类型, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :proj_types, :class => 'form-control' %>
    </div>
    <%=f.error_span(:proj_types) %>
  </div>
  <div class="form-group">
    <%= f.label :项目开始时间, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :proj_start_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:proj_start_time) %>
  </div>
  <div class="form-group">
    <%= f.label :项目结束时间, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :proj_end_time, :class => 'form-control' %>
    </div>
    <%=f.error_span(:proj_end_time) %>
  </div>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit value: "提交", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
