<%- model_class = ProjectUser -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1> -->
  <h1>新建项目成员</h1>
</div>

<%= form_for [@project, @project_user], :html => { :class => "form-horizontal group" } do |f| %>

  <div class="form-group">
    <label for="name">选择用户组</label>
    <%= select_tag "group_id", options_from_collection_for_select(Group.all, :id, :name), class: "form-control" %>

    <label for="name">选择用户</label>
    <select name="project_user[user_id]" id="user_id" class="form-control"></select>

    <label for="name">选择角色</label>
    <%= select_tag "project_user[project_role]", options_for_select({"美术经理" => 1, "美术制作" => 2, "美术接口人" => 3}), class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit value: "提交", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                groups_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


<script type="text/javascript">

  group_id.addEventListener('change', function(){
  	setValue(user_id, this.value);
  });



function setValue(e,v){
  e.options.length = 0;
  var group_users = <%= raw @users_groups.to_json %>;
  var users_id = group_users.filter(function(item){
  	return item.group_id == v;
  });
  

  var users_all = <%= raw @users.to_json %>


  for(i in users_id){
    var o = document.createElement('option');
    o.text = users_all.filter(function(item){
    	return item.id == users_id[i].user_id;
    })[0].name;
    o.value = users_id[i].user_id;
    console.log(o.value);
    e.add(o, null);
  }
}
</script>
